extends ../main.layout.pug

block variables
  - var title = 'Главная страница'

block content
  h1 Главная страница

  #wrapper

  script(type="text/x-template" id="circle-list")
    ul.list
      li.list__item
        crcl(
          percents="200%",
          v-for="item in items",
          :key="item.title",
          :title="item.title",
          :percents="item.percents"
        )

  script(type="text/x-template" id="circle")
    .element
      .element__percents(
        @click="handleClick"
        ref="title"
      ) {{title}}
      .element__percents {{percents}}